.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    max-width: 1400px;
    margin: 75px auto;
    box-shadow:  20px 20px 60px #dbebff;
    border-radius: 50px;
    border: 0.5px solid #dbebff;
}

.link-container {
    width: 15%;
    height: 100%;
    margin-right: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1
}

.link-container ul li {
    list-style: none;
    margin: 20px 0;
}

.time-selection-btn {
    padding: 15px;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 25px 0 0 25px;
    border: 0.5px solid #dbebff;
    background-color: transparent;
    color: #5794dd;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.time-selection-btn.selected {
    border-right: 0.5px solid #fff;
}

.time-selection-btn:hover {
    background-color: #f8fbff;
}

.time-selection-btn:active, .time-selection-btn:focus {
    background-color: #fff;
}

.graph-container {
    width: 85%;
    height: 100%;
    border-radius: 50px;
    border-left: 0.5px solid #dbebff;
    margin: 0;
}

#graph-title {
    position: relative;
    top: 35px;
    left: 200px;
    font-weight: 300;
    font-size: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2470ce;
}